@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-Light.ttf') format('truetype');
	font-weight: 300;
}


@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'Figtree';
	src: url('./Figtree-Black.ttf') format('truetype');
	font-weight: 900;
}

image {
	width: 100%;
	height: 100%;
}
img {
	width: 100%;
	height: 100%;
}